@import "tailwindcss";
@import "tw-animate-css";

/* عناوين */
/* العناوين */
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif; 
  font-weight: 700;

}

p, span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

:root {
  --background: #f5f7fa;     
     
}

.dark {
  --background: #111830;        
     
}
body {
  background-color: var(--background);
  color: var(--foreground);
}